<h1 class="text-center">Welcome!</h1>
<h3 class="text-center">Start playing game by entering your email id</h3>
<br/><br/><br/>
<div class="row" style="background: white;">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= form_for User.new, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="form-group">

          <%= f.text_field :email, :class => 'text_field form-control', type: 'email', placeholder: 'name@example.com' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Go', :class => 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>