<div class="dealer-cards">
  <%game.drawn_cards.each_with_index do |card, index| %>
    <% if card.user_id.nil? %>
      <span class="label label-info" style="margin: 10px;display: inline-block;">
        <% if game.player_score.nil? and index == 3 %>
          XXXX
        <%else%>
          <%= card.card_name %>
        <% end %>
      </span>
    <% end %>
  <%end%>
</div>
<br/><br/>
<div class="dealer-actions clearfix">
  <% if game.pending? and game.player_score.present? and game.dealer_score.nil? %>
    <%= link_to 'Hit', game_drawn_cards_path(game, {dealer: true}), class: 'btn btn-success', 'data-method': 'post', :remote => true %>
    <% if game.dealer_stop? %>
      <%= link_to 'Stop', dealer_stop_game_path(game), class: 'btn btn-danger', 'data-method': 'post'%>
    <% end %>
  <% elsif game.dealer_score.present? %>
    <div class="label-warning label" style="display: inline-block;">
      <%= @game.dealer_score %>
    </div>
  <% end %>
</div>