<h3 class="text-center">Enter the Bet amount and Press on Start Game!</h3>
<br/><br/>
<div class="row">
  <div class="col-sm-2 col-xs-6 col-xs-offset-3 col-sm-offset-5">
    <%= render partial: 'games/form', locals: {game: @game}%>
  </div>
</div>