<div class="col-xs-offset-1 col-xs-10 col-sm-5 col-sm-offset-1 text-center">
  <h1> DEALER </h1>
  <br/>
  <div class="dealer-section">
    <%= render partial: 'dealer', locals: {game: @game} %>
  </div>
</div>
<div class="col-xs-offset-1 col-xs-10 col-sm-5 col-sm-offset-0 text-center">
  <h1> PLAYER </h1>
  <br/>
  <div class="player-section">
    <%= render partial: 'player', locals: {game: @game} %>
  </div>
</div>
<div class="game-actions col-xs-offset-1 col-xs-10 text-center">
  <%= render partial: 'game_actions', locals: {game: @game} %>
</div>
